body {
  background-color: #eee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Header på toppbaren*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 100px;
  background-color: #ccc;
}

.headerLogo {

}

.headerList {
  display: flex;
  margin-left: 0;
  gap: 16px;
  list-style-type: none;
}

.listAnchor {

}

.listItem {

}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/blood_moon.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heroTitle {
  background-color: #000b;
  color: white;
  padding: 16px 24px;
}

.heroText {
  background-color: #010100b3;
  color: #fff;
  width: 300px;
  padding: 16px;
}

.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.aboutImg {
  height: 50%;
  width: auto;
}

.projects {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.projectCard {
  border: 1px solid black;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectCardImg {
  width: 100%;
}

.footer {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
}

.footerCredit {
  font-size: 32px;
  font-family: Brush Script MT, Brush Script Std, cursive;
  background-color: #222b;
  color: white;
  border-radius: 50%;
  padding: 28px;
}
