html{
  font-size: 10px;
}

body {
  background-color: #eee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
}
/*Header på toppbaren*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;
  height: 10rem;
  background-color: #ccc;
  position: sticky;
  top: 0;
}

.headerLogo {

}

.headerList {
  display: flex;
  margin-left: 0;
  gap: 1.6rem;
  list-style-type: none;
}

.listAnchor {

}

.listItem {

}

.hero {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/blood_moon.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heroTitle {
  background-color: #000b;
  color: white;
  padding: 1.6rem 2.4rem;
}

.heroText {
  background-color: #010100b3;
  color: #fff;
  width: 300px;
  padding: 1.6rem;
}

.about {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.6rem;
}

.aboutImg {
  height: 50%;
  width: auto;
}

.projects {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.projectCard {
  border: 1px solid black;
  width: 30rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projectCardImg {
  width: 100%;
}

.footer {
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
}

.footerCredit {
  font-size: 3.2rem;
  font-family: Brush Script MT, Brush Script Std, cursive;
  background-color: #222b;
  color: white;
  border-radius: 50%;
  padding: 2.8rem;
}
